*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
.heading{
    background-color: #3f47cc;
    height: 25px
}
.container{
    max-width: 1100px; 
    margin: 0 auto;
    padding: 0 40px
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    padding: 15px 0;
    box-shadow: 0 4px 6px rgb(189, 185, 185);
    width: 100%;
}
.navbar .logo{
    width: 135px;
    cursor: pointer;
}
button{
    padding: 13px;
    border: 1px solid #cccef0;
    border-radius: 3px;
}

.navbar .sign-in button {
    color: #3f47cc;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
    margin: 0 10px 0 50px;
}
.sign-up button {
    color:white;
    background-color: #3f47cc;
    font-weight: 550;
    cursor: pointer;
}
.navbar .lang {
   margin-left: auto;
}
.navbar .lang img{
    height: 12px;
    margin: 0 5px;
}
.navbar .lang .how-it-works{
    margin: 0 15px;
    text-decoration: none;
}

.heroku{
    height: 280px;
    display: flex;
    justify-content: flex-start;
    font-size: 60px;
    font-weight: 500;
    margin-top: 120px;
}
h4{
    line-height: 1.0;
}
span{
    color:#3f47cc;
}
.info p{
    font-size: 24px;
    line-height: 1.1;
}
.info button{
    margin-top: 10px;
    padding: 15px 30px;
}
.info a{
    font-weight: 600;
}
.info .bottom-info{
    display: flex;
    align-items: center;
}
.info .bottom-info .play{
    align-items: center;
    cursor: pointer;
    margin: 20px 20px;
}

.info .bottom-info .play img{
    width: 15px;
    margin-top: 10px;
}
.info .calc form{
    background-color: #d7d7d8;
    height: 500px;
    padding: 30px;
    box-shadow: 10px 10px 4px #858588;
}
.info .calc .transfer{
    text-align: right;
    margin: 150px 0px;
}
.info .calc .transfer h4:nth-child(1){
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.1em;
}
.info .calc .transfer h4{
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.1em;
}
.info .calc .transfer h6{
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 0.33em;
}
