@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}

a{
    text-decoration: none;
}
.heading{
    background-color: #141dbe;
    height: 20px
}
.container{
    max-width: 1100px; 
    margin: 0 auto;
    padding: 0 50px
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    padding: 15px 0;
    box-shadow: 0 4px 6px rgb(189, 185, 185);
    width: 100%;
    font-size: 18px;
}
.navbar .logo{
    width: 145px;
    cursor: pointer;
}
button{
    padding: 13px;
    border: 1px solid #cccef0;
    border-radius: 3px;
    font-size: 17px;
    transition: all 1s;
}
button:hover{
    transform: scale(1.1);
}
.navbar .sign-in button {
    color:#141dbe;
    background-color: white;
    cursor: pointer;
    margin: 0 10px 0 50px;
}
.sign-up button {
    color:white;
    background-color: #141dbe;
    font-weight: 550;
    cursor: pointer;
}
.navbar .lang {
   margin-left: auto;
}
.navbar .lang select {
   border: 0;
   -webkit-appearance: none;
    -moz-appearance: none;
    background: white;

}
.navbar .lang img{
    height: 12px;
    margin: 0 5px;
}
.navbar .lang .how-it-works{
    margin: 0 15px;
    text-decoration: none;
}

.heroku{
    display: flex;
    justify-content: flex-start;
    font-size: 55px;
    font-weight: 500;
    margin-top: 120px;
}
h4{
    line-height: 1.0;
}
span{
    color:#141dbe;
}
.cover{
    position: relative;
    overflow: hidden;
}
.info p{
    margin: 50px 0 10px 0;
    font-size: 24px;
    line-height: 1.2;
}
.info button{
    margin-top: 10px;
    padding: 15px 30px;
}
.info a{
    font-weight: 600;
}
.info .bottom-info{
    display: flex;
    align-items: center;
}
.info .bottom-info .play{
    align-items: center;
    cursor: pointer;
    margin: 20px 60px;
}

.info .bottom-info .play img{
    width: 15px;
    margin-top: 10px;
}
.info .calc form{
    background-color: #d7d7d8;
    padding: 10px;
    box-shadow: 0px 0px 5px 5px #a5a5a7;
    border-radius: 5px;
}
.info .calc .transfer{
    position: relative;
    text-align: right;
    margin-top: 80px;
}
.info .calc .transfer h4:nth-child(1){
    font-size: 60px;
    font-weight: 900;
    line-height: 1.0;
    letter-spacing: 0.1em;
}
.info .calc .transfer h4{
    font-size: 50px;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: 0.15em;
}
.info .calc .transfer h6{
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 0.28em;
}
.info .calc {
    margin: 150px 0px;
    padding: 0;
}
.info .calc form{
    margin-top: 0;
}
.info .calc .input-box select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 0;
    border-radius: 5px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
    width: 400px;
    color: rgb(119, 118, 118);
  }
.info .calc .input-box input{
    border: 0;
    border-radius: 5px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
    width: 400px;
    color: rgb(119, 118, 118);
}
.info .calc .input-box {
    display: flex;
    flex-direction: column;
    margin: 30px 0 20px 20px;
    text-align: left; 
    font-size: 16px;
}
.info .calc .input-box span {
    color: black;
    margin: 0 0 5px 15px   
}
.info .transfer::after {
    content: "";
    position: absolute;
    left: 140px;
    top: 90px;
    height: 35px;
    width: 35px;
    background-color: rgba(10, 10, 233, 0.3);
    border-radius: 50%;
}
.info .transfer::before {
    content: "";
    position: absolute;
    left: 440px;
    top: 97px;
    height: 35px;
    width: 35px;
    background-color: rgba(10, 10, 233, 0.3);
    border-radius: 50%;
}

.info .transfer .semi-circle{
    position: relative;
    overflow: hidden;
}
.info .transfer .semi-circle:before {
    position: absolute;
    content: "";
    left: 385px;
    top: 400px;
    height: 560px;
    width: 100%;
    background-color: #141dbe;
    border-radius: 750px 0 0 750px;
    z-index: -1;
}
.info .transfer img{
    margin-left: 60px;
    margin-top: 160px;
    width: 100%;
    padding: 20px;
}
.cover{
    position: relative;
}
.cover .globe{
    position: absolute;
    width: 100%;  
    z-index: -1; 
}
.info form h5{
    text-align: center;
}
.info .output-box{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    margin: 35px 30px 20px 20px;
    border-radius: 7px;
}
.info .output-box .amount{
    margin: 5px 0;  
    display: flex;
    justify-content: space-between; 
    font-size: 17px;
}

.info .output-box .amount .amount-right{
    color: black; 
    font-size: 17px;   
}
.info .output-box .amount p{
    color: black; 
    font-size: 19px;    
}
.info .output-box .amount #btc{
    color: #141dbe;    
}
.info form h5{
    color:rgb(119, 118, 118); 
    font-weight: 500;
    font-size: 18px; 
    margin: 10px;
}
.freedom{
    position: relative;
    margin-top: 350px;
}
.freedom:before{
    content: "";
    position: absolute;
    background-color: #141dbe;
    border-radius: 0 50% 50% 0/0 100% 100% 0;
    transform: scaleY(1.4);
    top: -20px;
    left: -590px;
    height: 170px;
    width: 500px;
}
.freedom .exchange{
    padding: 50px;
}
.freedom .exchange h3{
    text-align: center;
    font-size: 58px;
    margin-bottom: 25px;
}
.freedom .exchange p{
    text-align: center;
    font-size: 17px;
}

.get-started{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 90px 0;
    margin-bottom: 100px;
    padding: 10px; 
}
.get-started .easy-step{
    margin-left: 25px; 
}
.get-started img{    
    padding: 5px;
    margin-top: 35px;
}
.get-started::after{
    content: "";
    position: absolute;
    background-color: #141dbe;
    width: 70px;
    height: 70px;
    top: 40;
    border-radius: 50%;
    z-index: -1;
}
.get-started .list{
    display: flex;
    flex-direction: column;
}
.get-started .easy-step .column-list{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 40px;
}
.get-started .column-list .count{
    font-size: 3em;
    margin: 0 auto;
    width: 40px;
}
.get-started .column-list .p-list{
    margin-left: 45px;
    margin-top: 10px;
}
.get-started .column-list .p-list span{
    font-weight:lighter;
}

.start{
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.start-sending {
    display: flex;
    position: relative;
    width: 100%;
}
.start-sending .starting h2{
    font-weight: 500;
    font-size: 33px;
}
.start-sending .starting{
    line-height: 3.3em;
}
.start-sending .starting img{
    width: 120px;
    margin-right: 20px; 
    margin-top: 20px; 
}
.start-sending img{
    width: 320px;  
}

.start:before{
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgb(223, 222, 222), rgb(255, 255, 255) );
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(1.5);
    z-index: -1;
    
}
.rates{
    position: relative;
    margin-top: 250px;
}
.daily-exchange{
    text-align: center;
}
.rates .daily-top{
    margin-bottom: 80px;
}
.rates .daily-top p{
    margin-top: 10px;
}
.rates .daily-top:before{
    content: "";
    position: absolute;
    top: -340px;
    left: -270px;
    height: 410px;
    width: 410px;
    background-color: #141dbe;
    border-radius: 50%;
    z-index: -1;
}
.rates .daily-middle{
    position: relative;
    margin: 10px;
    padding: 40px;
    background-color: #d7d7d8;
    border-radius: 5px;
    box-shadow: 0 0 4px 2px rgba(8, 8, 8, 0.7);
}
.rates .daily-middle:before{
    content: "";
    position: absolute;
    top: -70px;
    right: -70px;
    height: 180px;
    width: 180px;
    background-color: #141dbe;
    border-radius: 50%;
    z-index: -1;
}
.rates .daily-middle::after{
    content: "";
    position: absolute;
    top: 310px;
    right: -180px;
    height: 60px;
    width: 60px;
    background-color: #141dbe;
    border-radius: 50%;
    z-index: -1;
}
.flexy{
    display: flex;
    justify-content: center;
}
.rates .mid-head:nth-child(1) {
    margin-left: 10px;
}
.rates .mid-head img{
    width: 100%;
}
.wb{
    background-color: white;
    border-radius: 7px;
    margin-bottom: 25px;
}
.rates .daily-middle h4{
    color: rgb(126, 125, 125);
}
.rates .mid-head h4{
    margin: 20px;
    width: 180px;
    text-align: center;
    color: rgb(102, 101, 101);
}
.daily-exchange .daily-bottom{
    margin-top: 230px;
    position: relative;
    height: 50vh;
    width: 100%;
}
.daily-exchange .daily-bottom:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    background-image: linear-gradient(to top, rgb(223, 222, 222), rgb(255, 255, 255) );
    transform: scaleX(1.9);
    z-index: -1;
}
.daily-exchange .daily-bottom-img{
    display: flex;
    justify-content: center;
    margin: 30px 80px;
}
.daily-exchange .daily-bottom-img img{
    width: 100%;
    height: 70px;
    border-radius: 10px;
    padding: 7px;
}

.buy-crypto{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 90px 0;

}
.get-started .easy-step{
    margin-left: 25px; 
}
.get-started::after{
    content: "";
    position: absolute;
    background-color: #141dbe;
    width: 70px;
    height: 70px;
    top: 40;
    border-radius: 50%;
    z-index: -1;
}
.buy-crypto .buy-crypto-col-1{
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.buy-crypto .buy-crypto-col-1:before{
    content: "";
    position: absolute;
    top: 370px;
    left: -370px;
    height: 280px;
    width: 280px;
    border-radius: 50%;
    z-index: -1;
    background-color: #141dbe;
}
.buy-crypto .buy-crypto-col-1 .column-list{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 40px;
}
.buy-crypto .column-list .count{
    font-size: 3em;
    margin-top: 0;
    width: 40px;
    text-align: left;
}
.buy-crypto .column-list .p-list{
    margin-left: 45px;
    margin-top: 5px;
    text-align: left;
}
.buy-crypto .column-list .p-list span{
    font-weight:lighter;
}
.buy-crypto .buy-crypto-col-1 h2{
    text-align: left;
    font-size: 2em;
    margin-bottom: 20px;
}
.buy-crypto form{
    background-color: #d7d7d8;
    padding: 10px;
    box-shadow: 0px 0px 5px 5px #a5a5a7;
    border-radius: 5px;
    margin-left: 50px;
}
.buy-crypto .input-box select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 15px;
    border: 0;
    border-radius: 5px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
    width: 400px;
    color: rgb(119, 118, 118);
  }
  .buy-crypto .input-box input{
    border: 0;
    border-radius: 5px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
    width: 400px;
    color: rgb(119, 118, 118);
}
.buy-crypto .input-box {
    display: flex;
    flex-direction: column;
    margin: 30px 0 20px 20px;
    text-align: left; 
    font-size: 16px;
}
.buy-crypto .input-box span {
    color: black;
    margin: 0 0 5px 15px   
}
.buy-crypto .output-box{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    margin: 75px 30px 20px 20px;
    border-radius: 7px;
}
.buy-crypto .output-box .amount{
    margin: 5px 0;  
    display: flex;
    justify-content: space-between; 
    font-size: 17px;
}

.buy-crypto .output-box .amount:first-child{
    color: black; 
    font-size: 17px; 
    justify-content: flex-end;
     
     
}
.buy-crypto .output-box .amount .amount-right{
    color: black; 
    font-size: 17px;  
     
}
.buy-crypto .output-box .amount p{
    color: black; 
    font-size: 19px;    
}
.buy-crypto .output-box .amount #btc{
    color: #141dbe;    
}
.buy-crypto form h5{
    color:rgb(119, 118, 118); 
    font-weight: 400;
    font-size: 14px; 
    margin-top: 70px;
    margin-bottom: 30px;

}
.support {
    justify-content: space-between;
    align-items: center;
    margin: 150px auto;
}
.support img{
    padding: 50px;
}
.support .support-live{
    text-align: right;
}
.support .support-live  h2{
    font-size: 36px;
    margin-bottom: 30px;
}
.support .support-live p{
    font-size: 14px;
    font-weight: 100;
    padding-left: 90px;
    margin-bottom: 30px;
}
.support .support-live button{
    margin-left: 50px;
}
.support .support-live .support-button .button-2{
    background-color: white;
    border: 1px solid rgb(71, 71, 71);
    padding-left: 20px;
    padding-right: 20px;
}
.footer .foot-col-1,
.footer .foot-col-2,
.footer .foot-col-3,
.footer .foot-col-4,
.footer .foot-col-5
{
    flex-direction: column;
    align-self: flex-start;
    margin-left: 40px;
}
.footer .foot-col-1 img{
    width: 40%;
    margin-top: 0;
}
.footer .foot-col-1 p{
    color: black;
    font-size: 12px;
    margin: 15px 0;
}
.footer a{
    color: black;
    font-size: 11px;
    margin-bottom: 15px;
}
.footer h3{
    color: black;
    font-size: 14px;
    margin-bottom: 29px;  
}
.footer .foot-col-5 .foot-icon img{
    width: 30px;
    height: 30px;
}
.footer .foot-col-5 .foot-icon {
    justify-content: space-between;
}
.footer-2{
    text-align: center;
    font-weight: 100;
    font-size: 14px;
    margin-top: 60px;
    color:rgb(102, 101, 101)
}
hr{
    color: rgb(172, 171, 171);
    margin: 90px 0;
}